<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title layout
    body
        .lay
            .lay__col

                .lay__col1
                    .lay__col1__top 
                    .lay__col1__main main1

                .lay__col2
                    .lay__col2__top 
                    .lay__col2__main main2