@import "./reset.css";

body {
  overflow: hidden;
}

.lay {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.lay .lay__col {
  display: flex;
  flex-direction: row;
}

.lay .lay__col .lay__col1__top {
  width: 730px;
  height: 5vh;

  background-color: #ffcccc;
}

.lay .lay__col .lay__col1__main {
  width: 100%;
  height: 100vh;

  background-color: #7efff5;
}

.lay .lay__col .lay__col2 {
  display: flex;
  flex-direction: column;
}

.lay .lay__col2 .lay__col2__top {
  width: 730px;
  height: 5vh;

  background-color: #ffb8b8;
}

.lay .lay__col2 .lay__col2__main {
  width: 100%;
  height: 100vh;

  background-color: #67e6dc;
}
